<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @shop.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shop.state %>
</p>

<p>
  <strong>Scf:</strong>
  <%= @shop.scf %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @shop.zip %>
</p>

<p>
  <strong>Mailscore:</strong>
  <%= @shop.mailscore %>
</p>

<p>
  <strong>Sic1code:</strong>
  <%= @shop.sic1code %>
</p>

<p>
  <strong>Sic1:</strong>
  <%= @shop.sic1 %>
</p>

<p>
  <strong>Sic2code:</strong>
  <%= @shop.sic2code %>
</p>

<p>
  <strong>Sic2:</strong>
  <%= @shop.sic2 %>
</p>

<p>
  <strong>Sic3code:</strong>
  <%= @shop.sic3code %>
</p>

<p>
  <strong>Sic3:</strong>
  <%= @shop.sic3 %>
</p>

<p>
  <strong>Sic4code:</strong>
  <%= @shop.sic4code %>
</p>

<p>
  <strong>Sic4:</strong>
  <%= @shop.sic4 %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @shop.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @shop.longitude %>
</p>

<p>
  <strong>Foursquare:</strong>
  <%= @shop.foursquare_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shop.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shop.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @shop.user %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
