<%= simple_form_for(@photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.association :shop %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
